- name: disable selinux
  block:
    - name: install libselinux
      package:
        name: libselinux-python
    - name: disable selinux
      selinux:
        state: disabled

- name: clone dotfiles
  block:
    - name: clone dotfiles
      git:
        repo: https://github.com/vmagro/dotfiles.git
        dest: /home/vmagro/.dotfiles
        update: yes
    - name: dotfiles permissions
      file:
        path: /home/vmagro/.dotfiles
        owner: vmagro
        group: vmagro
        state: directory
        recurse: yes

- name: git config
  block:
    - name: git email
      git_config:
        scope: global
        name: user.email
        value: v@vinn.ie
    - name: git name
      git_config:
        scope: global
        name: user.name
        value: Vinnie Magro
    - name: git rebase on pull
      git_config:
        scope: global
        name: pull.rebase
        value: "true"

- name: dotfile symlinks
  file:
    src: '/home/vmagro/.dotfiles/{{ item.src }}'
    dest: '/home/vmagro/{{ item.dst }}'
    owner: vmagro
    group: vmagro
    state: link
  with_items:
    - { src: 'nvim/', dst: '.config/nvim' }
    - { src: 'zsh/zshrc', dst: '.zshrc' }
    - { src: 'awesome/', dst: '.config/awesome' }
    - { src: 'tmux.conf', dst: '.tmux.conf' }
    - { src: 'xinitrc', dst: '.xinitrc' }
    - { src: 'Xmodmap', dst: '.Xmodmap' }
    - { src: 'Xresources', dst: '.Xresources' }
    - { src: 'spoticli', dst: 'bin/spoticli' }
    - { src: 'xscreensaver', dst: '.xscreensaver' }

- name: prezto symlinks
  file:
    src: '/home/vmagro/.dotfiles/prezto/{{ item.src }}'
    dest: '/home/vmagro/{{ item.dst }}'
    owner: vmagro
    group: vmagro
    state: link
  with_items:
    - { src: '', dst: '.zprezto' }
    - { src: 'runcoms/zshrc', dst: '.zshrc' }
    - { src: 'runcoms/zlogin', dst: '.zlogin' }
    - { src: 'runcoms/zlogout', dst: '.zlogout' }
    - { src: 'runcoms/zpreztorc', dst: '.zpreztorc' }
    - { src: 'runcoms/zshenv', dst: '.zshenv' }

- name: install vimplug
  become: true
  become_user: vmagro
  block:
    - name: create dir
      file:
        path: /home/vmagro/.local/share/nvim/site/autoload
        state: directory
        owner: vmagro
        group: vmagro
        mode: 0755
    - name: download vimplug
      get_url:
        url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
        dest: /home/vmagro/.local/share/nvim/site/autoload/plug.vim

- name: neovim virtualenv
  pip:
    virtualenv: /home/vmagro/virtualenvs/py3neovim
    virtualenv_command: virtualenv-3
    name: '{{ item }}'
  with_items:
    - neovim
    - flake8
